* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: "Inter", sans-serif;
}

header {
	background-color: #21222a;
}

.navigation {
	display: flex;
	align-items: center;
	gap: 10px;
	padding: 30px 25px;
	height: 90px;
}

.nav-img {
	width: 40px;
}

.nav_main-heading {
	margin-right: auto;
	color: #61dafb;
	font-weight: 700;
	font-size: 22px;
}

.nav_sub-heading {
	color: #deebf8;
	font-weight: 600;
}

.container {
	color: #fff;
	background-color: #282d35;
	height: 100vh;
}

main {
	padding: 57px 27px;
	background: url(./images/react-icon-large.png) no-repeat right 75%;
}
.main-heading {
	margin: 0;
	font-size: 39px;
	letter-spacing: -0.05em;
	font-weight: 700;
	line-height: 47px;
}

.main-list {
	margin-top: 46px;
	max-width: 400px;
}

.main-list li {
	margin-bottom: 20px;
	line-height: 19px;
}

.main-list li::marker {
	color: #61dafb;

	font-size: 1.4rem;
}
